<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="dataController" class="data">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Filters</h3>
                    <label>Name: <input type="text" ng-change="searchRoute(search.name)" ng-model="search.name"></label>
                    <a class="btn btn-primary" ng-click="setSearchFilter(search.name)" ng-href="#!/{{ categoryLocation }}{{ search.name }}">Search</a>
                    <h3>Categories</h3>
                    <a ng-href="#!/" class="btn btn-primary" ng-click="setCategoryFilter('')">All</a>
                    <br>
                    <br>
                    <div ng-repeat="bsr_category in categories">
                        <a class="btn btn-primary" ng-click="setCategoryFilter(bsr_category)" ng-href="#!/{{ bsr_category }}{{ searchLocation }}">{{ bsr_category }}</a>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card" ng-repeat="product in products | filter: { name: locationSearch } | filter: { bsr_category: locationCategory }">
                        <div class="card-header">
                            <h5>{{ product.name }}</h5>
                        </div>
                        <div class="card-body">
                            <img ng-src="{{ product.img }}" alt="photo">
                            <h5 class="card-title">{{ product.bsr_category }}</h5>
                            <p class="card-text">{{ product.asin }}</p>
                            <p class="card-text">{{ product.price | currency }}</p>
                            <a href="{{ product.link }}" class="btn btn-primary">To buy</a>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>



